html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

footer {
    color: #fff;
    background-color: #000;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.foot-icon {
    margin-left: 1em !important;
}

@font-face {
    font-family: 'Abel', Fallback, sans-serif;
    src: url("./assets/fonts/Abel/Abel-Regular.ttf");
}

.modal-container {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



body {
    text-align: center;
    overflow-x: hidden;
    font-family: "Abel", Fallback, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    /* background-image: url("./assets/images/landing_background5.jpg"); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/images/landing_background5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    width: 100vw;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}


.order-button {
    border-color: #fff;
    border-width: 0.25rem;
    border-style: solid;
    align-self: center;
    color: #fff;
    background-color: transparent;
    padding: 0.5em 1em;
    margin: 1em 2em 1em 1em;
    font-size: clamp(.5em, 2vw, 1.25em);
    font-family: "Abel", Fallback, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* margin: 1em 2em 1em auto; */
    text-decoration: none;

    position: absolute;
    right: 0;
}



.order-button a {
    text-decoration: none;
}

.order-button:hover {
    color: #825F2A;
    border-color: #825F2A;
    cursor: pointer;
    /* transform: scale(1.1);     */
    transition: all .2s ease, border-width 0s;
    border-width: 0.25rem 0;
}

.button {
    margin: 1em;        
}

.button a {
    font-size: clamp(.5em, 2vw, 2em);
    color: #fff;
    text-decoration: none;        
    text-transform: uppercase;
    margin: 1em;    
}

.button a:hover {
    color: #825F2A;
    text-decoration: underline;
}

.logo {
    width: clamp(18em, 35vw, 25em);
    /* z-index: 3; */
    align-self: center;
    justify-self: center;
    margin-top: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* z-index: 2; */
}

.modal {
    display: flex;
    flex-direction: column;
    font-family: 'Abel';
    background-color: #000;
    background-image: url("./assets/images/modal-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10vw;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}

p:first-child {
    font-weight: 700;
}

.top-row {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    font-family: "Abel", Fallback, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    line-height: 1rem;
}

.top-row-item p {
    font-size: clamp(.5em, 2vw, 2em);
    line-height: 1.5em;
    margin: 0 1em;
}

.modal-logo img {
    width: clamp(4em, 8vw, 8em);
}

.modal-logo img:hover {
    transform: scale(1.1);
    transition: all .2s ease;
}

.modal-close {
    align-self: flex-start;
    font-size: 1.25em;
}

.modal-close:hover {
    background-color: #fff;
    border-radius: 50%
}

.modal-close i:hover {
    color: #825F2A;
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease;

}

.form {
    background-color: #000;
    color: #fff;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 75%;
    font-family: "Abel", Fallback, sans-serif;
    font-size: 1.25em;
    font-weight: 500;
}

label span {
    color: grey;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.form label {
    padding: .5em 0;
    margin-top: .5em;
    align-self: flex-start;
}

.form input {
    padding: 1em;
    width: 50%;
}

.form-button {
    border-color: #fff;
    border-width: .25rem;
    border-style: solid;
    align-self: center;
    color: #fff;
    background-color: #000;
    padding: .5em 1em;
    margin: 1em;
    font-size: 1.25em;
    font-family: "Abel", Fallback, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.form-button:hover {
    color: #825F2A;
    border-color: #825F2A;
    transform: scale(1.1);
    cursor: pointer;
    transition: all .2s ease;
}

.modal-foot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background-color: #000;
    padding: 1em;
}

.social-icon {
    margin: 0 .25em;
    font-size: 2em;
}

.social-icon:hover {
    color: #825F2A;
    cursor: pointer;

}

.mobile-close {
    display: none;
}


section {
    color: #fff;
    font-family: "Abel", Fallback, sans-serif;
    padding: 2em 1em;
    min-height: 45vh;
}

section h2 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}

section p {
    line-height: 1.75em;
}

.explore-section {
    color: #000;
    background-color: #f4f2e2;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.explore-section div {
    margin: 1em;
}

.explore-section button {
    border-color: #000;
    border-width: .25rem;
    border-style: solid;    
    color: #000;
    background-color: #f4f2e2;
    padding: .5em 1em;
    margin: 1em;
    font-size: 1.25em;
    font-family: "Abel", Fallback, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

.explore-section button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .2s ease, border-width 0s;
    border-width: 0.25rem 0;
}

.explore-section img {
    width: clamp(15em, 35vw, 25em);
}

.find-us-section {
    background-image: url(./assets/images/images/landing_background1.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-position: top;    
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.find-us-section button {
    border-color: #fff;
    border-width: .25rem;
    border-style: solid;
    align-self: center;
    color: #fff;
    background-color: transparent;
    padding: .5em 1em;
    margin: 1em;
    font-size: clamp(1em, 4vw, 1.25em);
    font-family: "Abel", Fallback, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.find-us-section button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .2s ease, border-width 0s;
    border-width: 0.25rem 0;
}

footer button {
    border-color: #fff;
    border-width: .25rem;
    border-style: solid;
    align-self: center;
    color: #fff;
    background-color: #000;
    padding: .5em 1em;
    margin: 1em;
    font-size: clamp(.5em, 2vw, 1.25em);
    font-family: "Abel", Fallback, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 1em 2em 1em auto;
}

footer button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .2s ease;
    color: #825F2A;
    border-color: #825F2A;
}


.follow-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.follow-section a {
    text-transform: uppercase;
    font-size: clamp(1em, 8vw, 2em);
    font-weight: 500;
    color: #825F2A;
}

.follow-section h3 {
    margin-top: 0;
}

.follow-section h3:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s ease;
}

.instagram-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    margin-bottom: 10em;
    background-color: #f4f2e2;
    margin: 2em 0;
}

.instagram-section img {
    width: clamp(5em, 30vw, 10em);
    height: clamp(5em, 30vw, 10em);
    object-fit: cover;
}

.instagram-section img:hover {
    transform: scale(1.2);
    transition: all .2s ease;
    cursor: pointer;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    gap: 2em;
}


@media screen and (max-width: 745px) {

    .mobile-close {
        display: inline-block;
        font-size: .75em;
        align-self: flex-end;
    }

    .top-row {
        flex-direction: column;
    }

    .top-row-item p {
        margin: 0;
        font-size: .5em;
    }

    .normal-close {
        display: none;
    }

    .form {
        font-size: .75em;
    }

    .copy {
        font-size: .4em;
    }

    .form-button {
        border-width: .2em;
    }

    .social-icon {
        font-size: 1.5em;
    }

    .explore-section {
        flex-direction: column-reverse !important;
    }

    .grid-container {
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

}

.sticky {
    position: fixed;
    bottom: 0;    
    z-index: 1;
}

.hero-scroll {
    align-self: center;
    margin-top: auto;
    color: #fff;
    background-color: #000;
    width: 2em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25% 25% 0 0;    
    font-size: 3em;
}

.hero-scroll a {
    color: #fff;
}


.hero-scroll i:hover {
    color: #825F2A;
    cursor: pointer;
    transform: scale(1.3);
    transition: all .2s ease;
}

a {
    text-decoration: none;
}

.about-section {
    scroll-margin-top: 5em;
}